<h1>Employee List</h1>
<a href="{% url 'employee_create' %}">Add Employee</a>
<table border="1">
    <tr>
        <th>Name</th><th>Email</th><th>Phone</th><th>Department</th><th>Actions</th>
    </tr>
    {% for emp in employees %}
    <tr>
        <td>{{ emp.first_name }} {{ emp.last_name }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.phone }}</td>
        <td>{{ emp.department }}</td>
        <td>
            <a href="{% url 'employee_update' emp.id %}">Edit</a> |
            <a href="{% url 'employee_delete' emp.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>